In [1]:
import turicreate as tc

In [2]:
sf= tc.SFrame('people_wiki.sframe')

In [3]:
sf

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
sf['word_count']=tc.text_analytics.count_words(sf['text'])
sf

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'colleg... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'time': 1.0, 'honored': 1... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, 'promo': 1... |
| sam henderson born october... | {'journal': 1.0, 'niblit':... |
| aaron lacrate is an americ... | {'including': 1.0, 'artist... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'knuckles': 1.0, 'simply'... |
| cathy caruth born 1955 is ... | {'n3': 1.0, '2002': 1.0, '... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compare top words according to word counts to TF-IDF

In [6]:
eljo=sf[sf['name']=='Elton John']
eljo

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'social': 1.0, 'champion'... |
+-------------------------------+
[? rows x 4 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [14]:
words=eljo[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)
words

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|  john |  7.0  |
|   he  |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
words[0:3]

Columns:
	word	str
	count	float

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |  27.0 |
|  in  |  18.0 |
| and  |  15.0 |
+------+-------+
[3 rows x 2 columns]

In [19]:
sf['tfidf']=tc.text_analytics.tf_idf(sf['text'])

In [23]:
eljo_tfidf=sf[sf['name']=='Elton John']
eljo_tfidf['tfidf']

dtype: dict
Rows: ?
[{'social': 2.6226865047083137, 'champion': 3.176548302748404, 'be': 1.4062480045415613, '2014': 2.2073995783446634, 'legal': 3.4243337579995425, 'became': 1.3300599330549516, '2005': 1.6425861253275964, 'december': 4.00285165915879, '21': 5.594501726978586, 'furnish': 18.38947183999428, 'david': 2.4512658353228582, 'civil': 3.3244978303233013, 'gay': 8.685411312155043, 'who': 0.9098952189804214, '200': 3.8524016680323285, 'raised': 3.059531844362216, 'industry': 2.9570625486439512, 'film': 2.033113917057952, 'parties': 4.495771854722687, 'oscar': 4.781937626656504, 'partnership': 4.1599501656686, 'highestprofile': 8.789270811888976, 'which': 0.7674309670437692, 'hosting': 4.806478735572622, 'later': 1.4294496043477696, 'foundation': 5.428871534029564, 'established': 3.0759047769687164, '1988': 2.4491074905234376, '1992': 2.278351314316948, '1980s': 2.9688582293167167, 'against': 2.0079609791418744, 'fight': 4.274754994169014, 'heavily': 4.584578192498009, 'marriage': 8.230808189229297, '2012he': 6.27696518791286, 'buckingham': 6.6170475367581725, 'outside': 3.6528189935675104, 'and': 0.011177158470730924, 'queens': 4.023305403354957, 'at': 0.8612771466165147, '10': 2.3157231098806563, '2002': 1.8753125887822302, 'palace': 9.813124388259208, 'abbey': 5.693190564500702, 'hall': 5.270713564278079, 'royal': 2.8056144472288045, 'services': 6.037737299782756, '1998': 2.0687826320938068, 'charitable': 5.038460400044548, 'ii': 3.3077063910260405, 'elizabeth': 4.044338683525725, 'empire': 4.3624301614253005, 'year': 1.3423616371539895, 'commander': 4.099963746694684, 'westminster': 5.272762583715825, '1996': 2.135691193468776, 'single': 5.774489654856468, 'named': 2.0300155412252816, 'been': 2.932432006438807, 'songwriters': 11.250406447031539, '100': 8.922437249692202, '1994': 2.2375557576874794, 'into': 4.815188827219817, 'overallelton': 10.986495389225194, 'wed': 6.908957945319475, 'male': 4.378494763929107, 'you': 2.914652239616036, 'having': 2.448323791423765, 'a': 0.05619184472583146, 'successful': 2.679282762596886, 'rock': 5.886949007853824, 'musicians': 3.5587565486923007, 'continues': 3.3444509863519367, 'its': 3.3751896805390627, 'stone': 4.332342869041976, 'diana': 5.3955084087143375, 'rolling': 4.8401661315562965, 'bisexual': 6.7238155121838785, 'hits': 3.7189699613970224, 'influential': 3.738702807457348, 'over': 2.975646311911467, 'honors': 3.7995943688135627, 'legend': 4.464402591055042, 'center': 2.378000039402171, 'tony': 3.6043710234876816, 'culture': 3.1328905761273576, 'concert': 3.5032509731513444, 'globe': 4.144879912747602, 'academy': 7.06577844530489, 'british': 6.714095277849417, 'in': 0.017377314302186087, '2013': 1.9545642372230505, 'alltime': 4.393450855082757, 'after': 0.9443334420013064, 'bernie': 6.016682089649193, 'icon': 5.433535804303577, 'producer': 2.6157162162644934, '49': 5.309741586956912, 'brits': 8.421546031763658, 'inductee': 6.2951475069960505, 'contribution': 3.9980822072256026, 'outstanding': 3.383594927020439, 'cbe': 5.249923091746003, 'about': 1.9265128988375737, 'winning': 2.416330313042851, 'disney': 4.706099550264999, 'five': 2.2137301792754096, 'become': 2.4964678658817263, 'performed': 2.5307521601251795, 'late': 2.374355720500003, 'lasting': 5.905091024240731, 'awards': 6.8519553961056126, 'english': 2.239461125047026, 'artist': 2.4318137533979653, 'six': 2.4538226269605703, 'time': 1.3253342074200498, 'all': 1.6431112434912472, 'copies': 4.500334600281105, 'order': 2.8044952529317895, '1997': 4.259668904415891, 'albums': 6.041205308281332, 'wind': 4.86181199833099, 'way': 2.9688582293167167, 'england': 2.646755623206051, 'something': 4.272324859315723, 'jubilee': 5.648957309523876, 'had': 1.177428412308558, 'announced': 2.7377046555287814, 'knighthood': 6.9975113426609195, 'singles': 3.7372803321108052, 'authors': 4.320811671442786, 'consecutive': 7.543981950148101, 'hollywood': 3.902268967127278, '19702000': 10.293348208665249, 'years': 1.0752380994247055, 'making': 2.7223896254962385, 'for': 0.36431264671643454, 'including': 1.2272824458461182, 'nine': 3.2624907325491286, '27': 3.110616229728885, 'his': 1.0504458208546292, 'list': 3.1286278298933916, 'billboard': 17.30368095754203, '58': 5.437419304329975, 'worked': 1.553891853362109, 'worldwide': 7.008752931346158, 'john': 13.93931279239831, '1': 4.195753163848633, 'composer': 3.2290166226410153, 'seven': 2.7917137507818355, 'an': 0.8947172672456913, 'fivedecade': 10.293348208665249, 'us': 1.9319904488071395, 'no': 7.1892706571891525, 'two': 1.0988831858473562, '33': 4.654993539331503, 'they': 1.8993401178193898, '40': 6.981906890681876, 'more': 5.021336851896435, 'top': 9.096257662993823, 'inception': 5.391784009623355, 'events': 3.0624230643017776, 'world': 1.370623244696304, 'taupin': 9.600201028105303, 'tonightcandle': 10.986495389225194, 'first': 0.6956048713993103, '2004': 3.3806887216718016, 'kennedy': 4.279633052622447, 'began': 1.727460095710253, 'on': 1.1064765201036022, '2': 2.2482408126990716, 'movements': 5.030658019760364, 'four': 1.922106072733316, 'ranked': 7.642003828328697, 'music': 5.378377975206105, 'annual': 3.434258101664393, 'received': 3.0793219631333275, 'of': 0.05403029058844982, 'aids': 10.262846934045534, 'diamond': 5.028070696195412, 'one': 2.79279220142615, 'fifty': 5.11719847609142, 'him': 4.726752980361581, 'pianist': 4.07474808897352, 'song': 2.869182927623221, 'records': 2.678542843954175, '31': 3.294838566414648, 'roll': 9.162533862388706, 'involved': 2.674114792438443, 'hot': 8.195845859319663, 'career': 1.3050270203415668, 'million': 9.053489066276878, 'brit': 6.391375539090604, 'bestselling': 9.189156551665185, 'born': 0.268196273764765, 'lyricist': 5.644161137260383, 'from': 0.29375533798563447, 'fellow': 2.364041687151464, '2008': 1.5093391374786154, '1976': 2.71622627778857, 'is': 0.11046500190207996, '30': 2.6266580085851636, 'than': 6.195113430831934, 'inducted': 3.6213152632041816, 'to': 0.1877797507271969, 'openly': 5.056906245835299, 'composers': 4.295653111806631, 'artists': 5.450454477295092, 'fame': 6.0143129879257335, 'number': 4.24604216610848, 'since': 7.276883586540205, 'partner': 3.4248536436364145, 'least': 4.251903729252247, 'samesex': 5.89889905399281, 'elton': 17.482320270031995, 'as': 0.2543390440248236, 'look': 4.303134443458919, 'funeral': 5.911321573991367, 'has': 3.8564778576963508, 'such': 1.763337513538397, '25': 2.7469019349192254, 'princess': 5.038460400044548, 'era': 3.7913080690464858, 'occasional': 4.771887290803003, 'datein': 8.153282045168979, 'singer': 2.7818235602743835, 'impact': 4.04144432549936, 'record': 2.1528869065343033, 'kenneth': 4.798231266142604, 'he': 1.493579903611068, 'solo': 2.838628259301248, 'hercules': 7.322933743095548, 'dwight': 6.44320060695519, 'with': 0.40493728504412135, 'third': 2.3506306680914584, 'entered': 3.3434917536644764, 'most': 1.4186204428983973, 'collaborated': 3.761741983457223, 'party': 4.708022306948445, '1967': 3.01368460510379, 'songwriter': 7.349218450296059, '300': 4.553555296486015, 'lgbt': 5.5883326877074415, 'grammy': 4.085764725180022, 'actor': 2.958040225110943, 'reginald': 6.781802769834228, '1947': 3.756656611073944, 'golden': 3.618155702913813, 'sir': 3.956522477518808, 'march': 1.9573172463231197, 'have': 1.4416847832984716, 'sold': 6.702383005931559, 'the': 0.0027426017494956603, 'was': 0.15873157122436693, 'award': 8.161139242211844}, ... ]

In [26]:
tfidf=eljo_tfidf[['tfidf']].stack('tfidf',new_column_name=['word','val']).sort('val',ascending=False)
tfidf

Columns:
	word	str
	val	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |        val         |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
| tonightcandle | 10.986495389225194 |
|  overallelton | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
tfidf[0:3]

Columns:
	word	str
	val	float

Rows: 3

Data:
+-----------+--------------------+
|    word   |        val         |
+-----------+--------------------+
|  furnish  | 18.38947183999428  |
|   elton   | 17.482320270031995 |
| billboard | 17.30368095754203  |
+-----------+--------------------+
[3 rows x 2 columns]

# Measuring distance

In [28]:
sf

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'colleg... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'time': 1.0, 'honored': 1... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, 'promo': 1... |
| sam henderson born october... | {'journal': 1.0, 'niblit':... |
| aaron lacrate is an americ... | {'including': 1.0, 'artist... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'knuckles': 1.0, 'simply'... |
| cathy caruth born 1955 is ... | {'n3': 1.0, '2002': 1.0, '... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'time': 1.325334207420049... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'journal': 3.025473923341... |
| {'including': 1.2272824458... |
| {'concordia': 6.2502969408... |
| {'knuckles': 8.04205641005... |
| {'n3': 10.293348208665249,... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [32]:
elton=sf[sf['name']=='Elton John']
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'social': 1.0, 'champion'... | {'social': 2.6226865047083... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [37]:
viktoria=sf[sf['name']=='Victoria Beckham']
paul=sf[sf['name']=='Paul McCartney']

In [39]:
tc.distances.cosine(elton['tfidf'][0],viktoria['tfidf'][0])

0.9567006376655429

In [40]:
tc.distances.cosine(elton['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

In [42]:
knn_model_tfidf=tc.nearest_neighbors.create(sf, features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [43]:
knn_model_count=tc.nearest_neighbors.create(sf, features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [44]:
knn_model_count.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.9ms       |

| Done         |         | 100         | 140.599ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [45]:
knn_model_tfidf.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.156ms     |

| Done         |         | 100         | 178.728ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692847   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [46]:
knn_model_count.query(viktoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.99ms      |

| Done         |         | 100         | 152.355ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [47]:
knn_model_tfidf.query(viktoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.969ms     |

| Done         |         | 100         | 187.746ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]